html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    height: 100%;
}

body {
  margin-bottom: 60px;
}

#wrapperWevsite {
    display: flex;
    flex-direction: row;
    direction: rtl;
    width: 100%;
    height:100%;
    padding-top:2px;
}

#postDetails {
    height:50%;
    width:60%;
}

.link {
    direction: ltr;
    display:flex;
    text-align:center;
    flex-direction:column;
    font-size: 20px;
}

#bodyPost {
    border: solid 2px #3a9999;
    min-height: 200px;
    text-align: center;
    width:70%;
}

.containerDetails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.itemBodyPost{
    padding:15px;
}
#myPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border: solid 2px #3a9999;
    width:40%;
}
a{
    color:black;
    border:none;
}
a:hover {
    color: #3a9999;
}

.pb-3 {
    display: flex;
    height: 100%;
}
hr {
   background-color:#3a9999;
   width:100%;
}
hr:not([size]) {
height: 2px;
}
.active{
    color:#3a9999;
}
.postTitel{
    padding-right:10px;
    padding-left:10px;
}
.newsH1 {
    padding-top: 15px;
}