@{
    ViewData["Title"] = "Details Page";
}

@model Post;
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}
<div class="containerDetails">
    <div class="itemBodyPost">
        <h4>@Model?.title</h4>
    </div>
    <div id="bodyPost">
        <div class="itemBodyPost">
            <h5>תיאור</h5>
            <div>@Model?.body?.description</div>
        </div>
        <div class="itemBodyPost">
            <h5>תאריך פרסום</h5>
            <p>@Model?.body?.pubDate</p>
        </div>
        @if (@Model?.body?.audioUrl!=null)
        {
            <div class="itemBodyPost">
            <h5>שמע</h5>
            <audio controls>
                <source src="@Model?.body?.audioUrl" type="audio/mp3">
            </audio>
            </div>
        }
        <div class="itemBodyPost">
            <h5>קטגוריות</h5>
            @foreach (var category in @Model?.body?.categories)
            {
                <p>@category</p>
            }    
        </div>
    </div>
    <div class="itemBodyPost">
        <p >
            <a href="@Model?.link" class="link" target="_blank">
                <p>לכתבה המלאה</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="30" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
           </svg>  
           </a>  
        </p>
    </div>
</div>